@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kalam');

/* TAGS SELECTOR */

html,body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
body{
	overflow-x: hidden !important;
	background-color:#d5d5d5 !important;
}
/* CLASSES SELECTOR */
.preloader{
	position:fixed;
	top:50%;
	left:50%;
	z-index: 1000;
}
.line-scale-pulse-out > div{
	background-color:gold !important;
	height:80px !important;
	width: 10px !important;
	position:relative;
	top:-20px !important;
	left:-30px !important;
}
.navbar{
	border-radius: 0 !important;
}
.navbar-inverse .navbar-nav li a , .navbar-header a{
    padding: 30px 23px;
    font-size:1.3em;
    transition: all 250ms;
}
.navbar .navbar-nav li a:hover , .navbar-nav li.active > a{
  	color:black !important;
  	background-color: gold !important;
}
.navbar-transparent{
	background:transparent !important;
	border:0 !important;
}
.logo{
	height: 50px;
	width: 50px;
	margin-left:80px;
	transition: transform 500ms;
}
.logo:hover{
	transform: rotate(360deg);
}

.h1-right-text{
	margin-top: 200px;
	font-size: 5.5em;
	font-family: Montserrat;
	font-weight: 900;
	color:gold;
	text-align: justify;
}
.h2-right-text{
	font-size: 2.5em;
	font-family: Montserrat;
	font-weight: 900;
	color:white;
	text-align: justify;
}
.arrow-down{
	height: 20px;
	width: 45px;
	margin: 25px;
	transition: 500ms;
}
.arrow-down:hover{
	height:25px;
	width: 55px;
}
.padding{
	padding: 150px 0 150px 0;
}
.padding-top{
	padding:30px 0 0 0;
}
.section-text{
	font-size: 3em;
	font-family: 'Montserrat';
	font-weight: bold;
	letter-spacing: 10px;
	text-transform: uppercase;
}
.follow-text{
	font-size:1.5em;
	font-family: 'Kalam';
}
.expertise-icon{
	height:100px;
	width:100px;
	transition: width 500ms, height 500ms;
}
.summary-text{
	line-height: 30px;
	font-size: 1.2em;
	padding:10px;
	text-align: justify;
	font-family: 'Montserrat';
}
.form-control{
	height: 50px !important;
	width: 450px !important;
	border-radius: 20px !important;
	margin: 15px !important;
	text-align: center;
	font-family: 'Montserrat';
	transition: 500ms ease !important;
}
.form-control:focus{
	border:3px solid gold !important;
}
.myBtn{
	background-color: gold !important;
}
.myBtn:hover{
	border: 2px solid gold;
	background-color: #d5d5d5 !important;
}
.filler{
	background:url("../img/bgfixed.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.messageField{
	height:100px !important;
}
.name-text{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
.mt-50{margin-top:50px;}
.fs-10{font-size:10px;}
.fs-18{font-size:18px;}
.fs-20{font-size:20px;} 
.fs-30{font-size:30px;} 
.fs-40{font-size:40px;}
.lighter-text{font-weight: lighter;}
.bold-text{font-weight: bold;}

/*ID SELECTOR */
#home{
	background:url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	margin: 0;
	display:table;
}
#contact
{	background: url("../img/bgcontact.jpg") no-repeat center left fixed;
	background-size: cover;
	overflow: hidden;
}
#contact .section-text{
	color:gold;
	font-size: 2.5em;
	text-align: center;
}
#about .fa{
	font-size: 4.5em;
	padding:15px 35px;
	color:black;
}
#about .fa:hover{
	color:gold;
}
#photo-holder{
	margin: 80px;
	border: 1px solid black;
	border-radius: 50%;
}